{
	"base_url": "https://www.ebi.ac.uk/ols/api/",
	"search": {
		"base_url": "https://www.ebi.ac.uk/ols/api/search",
		"query": "q={query}",
		"option": {
			"ontology": "chebi",
			"type": "class",
			"fieldList": "id,iri,short_form,obo_id,label,ontology_prefix,ontology_name,type,is_defining_ontology",
			"searchFields": "synonym",
			"exact": "true",
			"groupField": "true",
			"obsoletes": "false",
			"local": "true",
			"rows": 10,
			"start": 0
		}
	}
}