{
	"base_url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/",
	"esearch": {
		"base_url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi",
		"query": "term={query}[all fields]",
		"cond": {
			"orgn_human": "Homo sapiens[orgn]"
		},
		"option": {
			"db": "gene",
			"usehistory": "n",
			"retmax": 10,
			"retmode": "json",
			"sort": "relevance"
		}
	}
}