{
	"url": "https://meshb.nlm.nih.gov/search?",
	"sparql": {
		"base_url": "http://id.nlm.nih.gov/mesh/sparql",
		"prefix": {
			"rdf": "<http://www.w3.org/1999/02/22-rdf-syntax-ns#>",
			"rdfs": "<http://www.w3.org/2000/01/rdf-schema#>",
			"xsd": "<http://www.w3.org/2001/XMLSchema#>",
			"owl": "<http://www.w3.org/2002/07/owl#>",
			"meshv": "<http://id.nlm.nih.gov/mesh/vocab#>",
			"mesh": "<http://id.nlm.nih.gov/mesh/>",
			"meshv2015": "<http://id.nlm.nih.gov/mesh/2015/>",
			"meshv2016": "<http://id.nlm.nih.gov/mesh/2016/>",
			"meshv2017": "<http://id.nlm.nih.gov/mesh/2017/>",
			"meshv2018": "<http://id.nlm.nih.gov/mesh/2018/>"
		}
	},
	"search": {
		"base_url": "https://meshb.nlm.nih.gov/api/search/record",
		"query": "q={query}",
		"option": {
			"searchInField": {
				"terms": ["allTerms", "termDescriptor", "termQualifier", "termSupplementalRecord"],
				"id": ["id"],
				"supplement": ["allChemical", "termHeading", "termIndexinginfo"],
				"pharmacology": ["termPharma"],
				"registry": ["allRegistry", "termRelatedRegistry", "termCASRegistry"],
				"textField": {
					"AllFreeText": "freeText",
					"Annotation": "annotation",
					"ScopeNote": "scopeNote",
					"SCR Note": "scrNote"
				}
			},
			"size": "10",
			"searchType": ["exactMatch", "allWords", "anyWord"],
			"searchMethod": ["FullWord", "SubString"],
			"sort": {
				"Relevance": "",
				"Name": "primaryTerm"
			}
		}
	},
	"esearch": {
		"base_url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi",
		"query": "term={query}[all fields]",
		"cond": {
			"orgn_human": "Homo sapiens[orgn]"
		},
		"option": {
			"db": "mesh",
			"usehistory": "n",
			"retmax": 10,
			"retmode": "json",
			"sort": "relevance"
		}
	}
}